/* .custome-font-color-Gray-400 {
    color: hsl(0, 0%, 75%);
}
.custome-font-color-Gray-500 {
    color: hsl(257, 7%, 63%);
}
.custome-font-color-Gray-900 {
    color: hsl(255, 11%, 22%);
}
.custome-font-color-Gray-950 {
    color: hsl(260, 8%, 14%);
} */

html {
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    line-height: normal;
}

.header-logo {
    height: 1.5rem;
    align-self: center;
}

.custom-button {
    font-weight: 600;
    font-size: 0.8rem;
    color: aliceblue;
    background-color: hsl(180, 66%, 49%);
    border: 0;
    padding: 7px 15px;
    margin-left: 10px;
    border-radius: 20px;
}

.custom-button:hover {
    background-color: hsl(180, 72%, 30%);
}

.secondary-button {
    font-weight: bold;
}

.list-item {
    list-style-type: none;
    font-weight: 600;
    font-size: 0.8rem;
    color: hsl(0, 0%, 75%);
    align-self: center;
}
body {
    overflow-x: hidden;
}

.section-2 {
    margin: 2rem 0 8rem 4rem;
}

.hero-header {
    font-weight: bolder;
    font-size: 4rem;
    color: hsl(260, 8%, 14%);
}

.hero-img {
    height: 23rem;
    width: 40rem;
    margin-left: 5rem;
}

.here-paragraph {
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(0, 0%, 75%) !important;
}

.section-3 {
    background-image: url("./images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 8.2rem;
    background-color: hsl(257, 27%, 26%);

    transform: translateY(-80%);
    margin-bottom: -4rem;
}

.section-3 input {
    height: 3.2rem;
    width: 95%;
    border: none;
    margin-left: 10px;
}

.input-error{
    color: red;
    margin-left: 2rem;
}

.section-4 {
    padding-bottom: 3rem;
}

.section-4 > h2 {
    font-weight: 650;
}
.section-4 > p {
    color: hsl(0, 0%, 75%);
    font-size: 1rem;
    font-weight: 400;
}

.features-section {
    background-color: #f0f1f6;
    padding: 4rem;
}

.card {
    position: relative;
    padding-top: 60px !important;
}

.icon-circle {
    width: 70px;
    height: 70px;
    background-color: #3b3054;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -35px;
    left: 18%;
    transform: translateX(-50%);
}

.section-6 {
    background-image: url("./images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    background-color: hsl(257, 27%, 26%);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-6 > h2 {
    font-weight: bold;
    color: white;
}

.section-6 > button {
    font-size: 1.1rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.section-7 {
    background-color: hsl(260, 8%, 14%);
    color: white;
    padding: 0 4rem 0 4rem;
    padding-bottom: 4rem;
}

.custom-h5 {
    font-size: 1rem;
}

.custom-text {
    color: hsl(0, 0%, 75%);
    font-size: 0.7rem;
    font-weight: 600;
}

footer > div > h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.links-to-social {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.custom-text-2 {
    color: hsl(0, 0%, 75%);
    font-size: 1rem;
}

.custom-card-title {
    font-weight: bolder;
    font-size: 1.4rem;
}

.card-container-2{
    padding-top: 3rem;
}
.card-container-3{
    padding-top: 6rem;
}