header {
    margin: 1.5rem;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    line-height: normal;
}

.header-logo {
    height: 1.5rem;
    align-self: center;
}

.custom-button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: aliceblue;
    background-color: hsl(180, 66%, 49%);
    border: 0;
    padding: 7px 15px;
    margin-left: 10px;
    border-radius: 20px;
}

.secondary-button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.list-item {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: hsl(0, 0%, 75%);
    align-self: center;
}
